In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
#Let's start with data types
# Textual data is stored in string data type
textual_data = 'Hello World'
#Let's print the type of textual_data
print(type(textual_data))
#Numbers are stored in integer data type
number_data = 5
print(type(number_data))
#Numbers with decimal point are stored in float type
float_data = 3.3
print(type(float_data))

<class 'str'>
<class 'int'>
<class 'float'>

In [28]:
#Hmm, can we have an array of these data types
# yes, You can store a list of these data types in list
list = [1, 'text', 2, 'another text']
print('type(list_type):',type(list))
# We have tuples too and yes they are immutable, lists are mutable
tuple = (1, 'text', 2, 'another text')
print('type(list_type):',type(tuple))

print('index 0:',list[0])
print('index 0:1:',list[-3:-1])
print('index :2',list[:2])
print('index 2:',list[2:])

type(list_type): <class 'list'>
type(list_type): <class 'tuple'>
index 0: 1
index 0:1: ['text', 2]
index :2 [1, 'text']
index 2: [2, 'another text']

In [32]:
# We have a very powerful and interesting data structure in python
# It's called a dataframe
# Let's explore it now
import pandas as pd
purchase_1 = pd.Series({'Name': 'Ali',
                        'Item': 'Item1',
                        'Price': 11.50})
purchase_2 = pd.Series({'Name': 'Hassan',
                        'Item': 'Item2',
                        'Price': 12.50})
purchase_3 = pd.Series({'Name': 'Kamran',
                        'Item': 'Item3',
                        'Price': 15.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3'])
df.head()

           Name   Item  Price
Store 1     Ali  Item1   11.5
Store 2  Hassan  Item2   12.5
Store 3  Kamran  Item3   15.0

In [55]:
#print(df.loc['Store 1'])
#print(purchase_1[0])
#print(df.loc[0,1])
print(purchase_1['Item'],purchase_1['Price'])
df = pd.DataFrame([purchase_2, purchase_3, purchase_1], index=['ind0', 'ind1', 'ind2'])
df.head()

Item1 11.5

        Name   Item  Price
ind0  Hassan  Item2   12.5
ind1  Kamran  Item3   15.0
ind2     Ali  Item1   11.5

In [59]:
# How to get a particular row
print(df.loc['ind1'])

Name     Kamran
Item      Item3
Price        15
Name: ind1, dtype: object
ind0    True
ind1    True
ind2    True
Name: Price, dtype: bool

In [60]:
print(df['Price'] > 10)

ind0    True
ind1    True
ind2    True
Name: Price, dtype: bool

In [65]:
print(df.where(df['Price']>12.5).dropna())

        Name   Item  Price
ind1  Kamran  Item3   15.0

In [73]:
print(df.where(df['Name'] == 'Hassan').dropna())

        Name   Item  Price
ind0  Hassan  Item2   12.5

In [75]:
print(df.where(df['Price']==12.5).dropna())

        Name   Item  Price
ind0  Hassan  Item2   12.5

In [64]:
df.head()

        Name   Item  Price
ind0  Hassan  Item2   12.5
ind1  Kamran  Item3   15.0
ind2     Ali  Item1   11.5